<nav id="navbar" class="navbar navbar-expand-lg py-0 container-fluid">
    <div id="nav-logo" class="ps-3">
            <img id="navImg" src="{{ url_for('static', filename='images/R.svg') }}"  alt="John Rugh Logo" width="100px">
    </div>
    <!-- display none at mid viewport -->
    <div id="menu-bars" class="pe-3">
        <a ><img src="{{ url_for('static', filename='images/bars-solid.svg') }}" alt="menu bars" width="16px" id="ham" class="active" onclick="toggleClass(event, 'ham', 'x')"></a>
        <a ><img src="{{ url_for('static', filename='images/x.svg') }}" alt="menu bars" width="16px" id="x" class="inactive" onclick="toggleClass(event, 'x', 'ham')"></a>
    </div>
    <div id="mobileMenu" class="inactive mobileMenu modal-fullscreen-md-down navbar-nav mr-auto">
        <a class='nav-link' href="#homeWrapper" onclick="toggleClass(event, 'x', 'ham')">Home</a>
        <a class='nav-link' href="#aboutWrapper" onclick="toggleClass(event, 'x', 'ham')">About</a>
        <a class='nav-link' href="#skillsWrapper" onclick="toggleClass(event, 'x', 'ham')">Skills</a>
        <a class='nav-link' href="#workWrapper" onclick="toggleClass(event, 'x', 'ham')">Work</a>
        <a class='nav-link' href="#contactWrapper" onclick="toggleClass(event, 'x', 'ham')">Contact</a>
     </div>

    <!-- display none until mid viewport -->
    <div class="inactive navbar-nav mr-auto">
       <a class='nav-link' href="#homeWrapper">Home</a>
       <a class='nav-link' href="#aboutWrapper">About</a>
       <a class='nav-link' href="#skillsWrapper">Skills</a>
       <a class='nav-link' href="#workWrapper">Work</a>
       <a class='nav-link' href="#contactWrapper">Contact</a>
    </div>
</nav>