<nav id="navbar" class="navbar navbar-expand-lg py-0 container-fluid px-md-3">
    <div id="nav-logo" class="ps-3 ps-md-0">
            <img id="navImg" src="https://rugh.us/static/media/R.9978418a7d64336813ae4cb0b6712e86.svg"  alt="John Rugh Logo" width="100px">
    </div>
    <!-- display none at mid viewport -->
    <div id="menu-bars" class="pe-3 d-md-none">
        <a ><img src="{{ url_for('static', filename='images/bars-solid.svg') }}" alt="menu bars" width="16px" id="ham" class="active" onclick="toggleClass(event, 'ham', 'x')"></a>
        <a ><img src="{{ url_for('static', filename='images/x.svg') }}" alt="menu bars" width="16px" id="x" class="inactive" onclick="toggleClass(event, 'x', 'ham')"></a>
    </div>
    <div id="mobileMenu" class="inactive mobileMenu modal-fullscreen-md-down navbar-nav mr-auto">
        <a class='nav-link' href="#homeWrapper" onclick="toggleClass(event, 'x', 'ham')">Home</a>
        <a class='nav-link' href="#aboutWrapper" onclick="toggleClass(event, 'x', 'ham')">About</a>
        <a class='nav-link' href="#skillsWrapper" onclick="toggleClass(event, 'x', 'ham')">Skills</a>
        <a class='nav-link' href="#workWrapper" onclick="toggleClass(event, 'x', 'ham')">Work</a>
        <a class='nav-link' href="#contactWrapper" onclick="toggleClass(event, 'x', 'ham')">Contact</a>
     </div>

    <!-- display none until mid viewport -->
    <div class="d-none d-md-flex flex-md-row navbar-nav mr-auto">
       <a class='nav-link' href="#homeWrapper">Home</a>
       <a class='nav-link' href="#aboutWrapper">About</a>
       <a class='nav-link' href="#skillsWrapper">Skills</a>
       <a class='nav-link' href="#workWrapper">Work</a>
       <a class='nav-link' href="#contactWrapper">Contact</a>
    </div>

    <!-- Social Icons -->
    <div id="socialIcons" class="d-none d-lg-flex ">
        <ul class="p-0">
            {% for s in social %}
                <li id="{{s.name}}" class="socialClass" style="background-color: {{s.bg_color}};">
                    <a id="{{s.name}}_link" href="{{s.link}}" class="socialLink" target="_blank">
                        {{s.name}} <img src="{{s.img_url}}" alt="social media icon">
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</nav>