<div id="aboutContainer" class="d-flex flex-column justify-content-center align-items-center w-100 px-3">
    <div id="aboutCopyTitleContainer" class="mw-1000 w-100 row g-2rem">
        <div id="aboutCopyTitle" class="col-6 ps-0 pb-2rem text-sm-end">
            <p class="text-4xl fw-bolder border-bottom border-4 border-color d-inline">About</p>
        </div>
        <div id="emptyDiv" class="col-6"></div>
    </div>

    <div id="aboutCopyTextContainer" class="mw-1000 w-100 g-2rem">
        <div id="aboutCopyText" class="pb-2rem text-sm-end text-4xl fw-bolder">
            <p class="mb-0">Hi. I'm John Rugh, it's a pleasure to meet you. Please take a look around.</p>
        </div>
        <div id="aboutPara" class="">
            <p>I'm a web developer with a background in small business operations including product development, managerial skills and customer service. Earned a certificate from the University of Texas web development program. Entrepreneur who created, developed and managed new products for Rugh Design. Excited to find ways to utilize a self starter attitude in a new industry.</p>
        </div>
    </div>
</div>